@keyframes filters {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(3600deg);
    -webkit-filter: hue-rotate(3600deg);
  }
}

:root {
  font-size: calc(1vw + 1vh + 0.5vmin);
}

pre.language-jsx {
  width: 95vw;
  max-height: 70vh;
}

.prism-code {
  width: 45vw !important;
  overflow: scroll !important;
  max-height: 90vh !important;
}
.prism-code,
.prism-code .token {
  font-size: 0.5rem !important;
  line-height: 0.5rem !important;
}
.prism-code .token-line {
  overflow: hidden !important;
}

pre.language-jsx,
pre.language-jsx .token {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 56em) {
  pre.language-jsx,
  pre.language-jsx .token {
    line-height: 1.25rem;
    font-size: 1.25rem;
  }
}

.cs-container .cs-content .cs-title > span {
  background-color: black;
  color: black;
}

.cs-title {
  background-color: black !important;
}

pre.Profile,
pre.Profile code {
  font-size: 1rem !important;
  line-height: 1rem !important;
}
