@keyframes filters {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(3600deg);
    -webkit-filter: hue-rotate(3600deg);
  }
}

:root {
  font-size: calc(1vw + 1vh + 0.5vmin);
}

pre.language-jsx {
  width: 95vw;
  /* height: 50vh; */
  max-height: 70vh;
}

pre.language-jsx,
pre.language-jsx .token {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 56em) {
  pre.language-jsx,
  pre.language-jsx .token {
    line-height: 1.25rem;
    font-size: 1.25rem;
  }
}

